name: Code Generation Check

on:
  pull_request:
    paths:
      - 'pkg/apis/**'
      - 'hack/**'

jobs:
  verify-codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: ./hack/verify-codegen.sh